* {
    margin: 0px;
    padding: 0px;
}

html {
    /*width: 100vw;*/
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Komika Axis", sans-serif;
}
.y {
    color: #F9E70A;
}
.b {
    color: #74C9CA;
}
.p {
    color: #EB6D9C;
}
.stroke1 {
    color: transparent;
    -webkit-text-stroke: 1px #601886;
}
.stroke2 {
    color: transparent;
    -webkit-text-stroke: 2px #601886;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a {
    text-decoration: none;
}

.mobile {
    display: block;
}
.tablet {
    display: none;
}

body {
    background-color: #FBEFF2;
}

header {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    background: linear-gradient(
        135deg,
        #EB6D9C 0%,         
        #EB6D9C 49%,        
        #74C9CA 49%,          
        #74C9CA 51%,          
        #F9E70A 51%,        
        #F9E70A 100%        
        );
}
header #site-logo a {
    display: inline-flex;
    align-items: center;
}
#site-logo img{
    height: clamp(0.5em, 3.8em, 5em);
}
#site-logo h1 {
    margin-left: clamp(0, 0.8rem, 1rem);
    font-size: clamp(0.7em, 1.2em, 1.7em);
}

nav {
    margin-left: auto;
    margin-right: clamp(2em, 2.3em, 3em);
}
nav li {
    display: inline-block;
    margin-right:0.1em;
    border-radius: clamp(10px, 1em, 2em);
    padding: 0.5em;
    background-color: #EB6D9C;
    font-size: clamp(0.2em, 0.7em, 1.2em);
    font-weight: 600;
}
nav li a {
    color: #F9E70A;
}

main {
    margin: 0.5rem;
    padding: 0 0.5rem;
}

#hero-image {
    width: 100%;
    margin: 2% 0;
}



/* {
    background: linear-gradient(
        135deg,
        #EB6D9C 0%,         
        #EB6D9C 49%,        
        #74C9CA 49%,          
        #74C9CA 51%,          
        #F9E70A 51%,        
        #F9E70A 100%        
        );
}*/

footer {
    padding-bottom: 2em;
    color: #1C1B2D;
    font-size: 0.7em;
    text-align: center;
}

@media screen and (min-width: 630px) {
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
    .stroke1t {
        color: transparent;
        -webkit-text-stroke: 1px #601886;
    }
    .stroke2t {
        color: transparent;
        -webkit-text-stroke: 2px #601886;
    }
    
    body {
        background-color: #1C1B2D;
    }
    
    header #site-logo a {
        height: clamp(0.8em, 5.8em, 12em);
    }
    #site-logo img{
        height: clamp(0.8em, 5.8em, 12em);
    }
    #site-logo h1 {
        margin-left: clamp(0rem, 0.6rem, 2rem);
        font-size: clamp(1.6em, 2.1em, 2.6em);
    }
    nav {
        margin-right: clamp(1.5em, 1.8em, 2.5em);
    }
    nav li {
        font-size: clamp(1.1em, 1.6em, 2.1em);
    }
    main {
        background-color: #FBEFF2;
        width: 95%;
        margin: 1% auto;
        border-radius: 15px;
        padding-top: 1%;
        padding-bottom: 2em;
    }
    h1 {
        font-size: 3em;
    }
    #hero-image.tablet {
        width: 95%;
        margin: 1.5% 2.5%;
    }
    #main-content {
        width: 95%;
        margin: 0 2.5%;
    }

    footer {
        padding-bottom: 0.5em;
        color: #FBEFF2;
    }
}

@media screen and (min-width: 1015px) {
    header #site-logo a {
        height: clamp(1.3em, 6.3em, 12.5em);
    }
    #site-logo img{
        height: clamp(1.3em, 6.3em, 12.5em);
    }
    #site-logo h1 {
        margin-left: clamp(0.5rem, 1.1rem, 2.5rem);
        font-size: clamp(2.1em, 2.6em, 3.1em);
    }
    nav li {
        font-size: clamp(1.6em, 2.1em, 2.6em);
    }

    #hero-image.tablet {
        margin-bottom: 1%;
    }
    #hero-image.tablet {
        width: 97%;
        margin: 1.5% 1.5%;
    }
    #main-content {
        width: 97%;
        margin: 0 1.5%;
    }

}