* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Komika Axis", sans-serif;
}
.y {
    color: #F9E70A;
}
.b {
    color: #74C9CA;
}
.p {
    color: #EB6D9C;
}
.stroke1 {
    color: transparent;
    -webkit-text-stroke: 1px #601886;
}
.stroke2 {
    color: transparent;
    -webkit-text-stroke: 2px #601886;
}

.mobile {
    display: block;
}
.tablet {
    display: none;
}


body {
    background-color: #FBEFF2;
}

header {
    height: 10%;
    width: 100%;
    background-color: #EB6D9C;
}

header img {
    width: 10%;
}

main {
    margin: 0.5rem;
    padding: 0 0.5rem;
}

#hero-image {
    width: 100%;
    margin: 2% 0;
}

h1 {
    font-size: 2.5em;
}

.blurb {
    margin-left: 1.4em;
}

.aspect-home:first-of-type {
    margin-top: 0;
}

.aspect-home {
    width: 90%;
    margin: 1% auto;
    border-radius: 35px;
    background-color: #1C1B2D;
}

@media screen and (min-width: 630px) {
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
    body {
        background-color: #1C1B2D;
    }
    main {
        background-color: #FBEFF2;
        width: 95%;
        margin: 1% auto;
        border-radius: 15px;
        padding-top: 1%;
    }
    #hero-image.tablet {
        width: 95%;
        margin: 1.5% 2.5%;
    }

}